body {
    margin: 0px;
}

.main-container {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.main-page {
    max-width: 640px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 640px){
    .main-page {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}