body {
    background-color: #147496;
}

.main-page {
    text-align: center;
}

#title {
    margin-top: 10.09vh;
    width: 65%;
}

#img {
    margin-top: 16.055vh;
    width: 75%;
}

#btn {
    margin-top: 5.5vh;
    width: 45.5%;
}