@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

#progress {
    margin-top: 7.81%;
    width: 62.19%;
}

#title {
    margin-top: 11.72%;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 300;
    font-size: 35px;
    width: 68.75%;
    margin-left: 15.625%;
}

#qicon {
    vertical-align:middle;
    width: 8.64%;
}

#divForm {
    width: 85.9375%;
    text-align: center;
    display: inline-block;
    margin-top: 21.875%;
}

#clist {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 400;
    font-size: 34px;
    text-align: left;
    width: 95%;
}

.choice{
    margin-left: 1.56%;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

i {
    margin-right: 2.34%;
}

.choice > input{ /* HIDE ORG RADIO & CHECKBOX */
    visibility: hidden;
    position: absolute;
}
/* RADIO & CHECKBOX STYLES */
.choice > i {     /* DEFAULT <i> STYLE */
    display: inline-block;
    vertical-align: middle;
    width:  21px;
    height: 21px;
    border-radius: 50%;
    transition: 0s;
    box-shadow: inset 0 0 0 12px #fff;
    border: 2px solid #74BBB5;
    background: #74BBB5;
}

@media screen and (max-width: 640px){
    #title {
        font-size: 5.47vw;
    }

    #clist {
        font-size: 5.31vw;
    }

    .choice > i {
        width: 3.28vw;
        height: 3.28vw;
        border-radius: 50%;
        box-shadow: inset 0 0 0 1.875vw #fff;
        border: 0.3125vw solid #74BBB5;
    }
}

.choice > input:checked + i{ /* (RADIO CHECKED) <i> STYLE */
    box-shadow: inset 0 0 0 4px #fff;
    background: #74BBB5;
}

.border {
    margin-top: 3.9%;
    margin-bottom: 3.125%;
    width: 100%;
    border-top: 1px solid #C9C9C9;
}

#btn {
    margin-top: 14.06%;
    width: 47%;
    cursor: pointer;
}