@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

#title {
    background-color: #74BBB5;
    height: 80px;
    text-align: left;
}

#rank1 {
    float: left;
    width: 50%;
}

#rank2 {
    width: 50%;
}

#back {
    vertical-align: middle;
    margin-left: 3.9%;
    margin-top: 3.9%;
    float: left;
    width: 2.97%;
}

#result {
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: white;
    width: 54.69%;
    margin-top: 3.9%;
    float: right;
}

#candidate {
    height: 750px;
}

#table {
    width: 100%;
}

#head {
    height: 80px;
}

.border {
    width: 100%;
}

@media screen and (max-width: 640px){
    #title {
        height: 12.5vw;
    }

    #result {
        font-size: 5.47vw;
    }

    #candidate {
        height: 117.1875vw;
    }

    #head {
        height: 12.5vw;
    }
}