@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

#title {
    background-color: #74BBB5;
    height: 80px;
    text-align: left;
}

#rank1 {
    float: left;
    width: 50%;
}

#rank2 {
    width: 50%;
}

#back {
    vertical-align: middle;
    margin-left: 3.9%;
    margin-top: 3.9%;
    float: left;
    width: 2.97%;
    cursor: pointer;
}

#result {
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: white;
    width: 54.69%;
    margin-top: 3.9%;
    float: right;
}

#candidate, #party {
    margin: 0px;

    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

#table {
    width: 100%;
}

.border {
    width: 100%;
}

.clickable {
    cursor: pointer;
}

#table {
    display: table;
    border-collapse: collapse;
    margin: 0px;
    table-layout: fixed;
}

#table th {
    height: 80px;
    vertical-align: bottom;
    font-weight: inherit;
}

#table td {
    height: 60px;
}

@media screen and (max-width: 640px){
    #title {
        height: 12.5vw;
    }

    #result {
        font-size: 5.47vw;
    }

    #candidate, #party {
        font-size: 3.91vw;
    }

    #table th {
        height: 12.5vw;
    }

    #table td {
        height: 9.375vw;
    }

    #table th:nth-of-type(2) {
        width: 7%;
        border-bottom: 0.47vw solid #74BBB5;
    }
    #table th:nth-of-type(3) {
        width: auto;
        border-bottom: 0.47vw solid #74BBB5;
        text-align: left;
    }
    #table th:nth-of-type(4) {
        width: 25%;
        border-bottom: 0.47vw solid #74BBB5;
        text-align: left;
    }
    #table th:nth-of-type(5) {
        width: 37.5%;
        border-bottom: 0.47vw solid #74BBB5;
    }
    #table th:nth-of-type(6) {
        width: 12.5%;
        border-bottom: 0.47vw solid #74BBB5;
    }

    #table td:nth-of-type(2) {
        width: 7%;
        border-bottom: 0.31vw solid #C9C9C9;
    }
    #table td:nth-of-type(3) {
        width: auto;
        border-bottom: 0.31vw solid #C9C9C9;
        text-align: left;
    }
    #table td:nth-of-type(4) {
        width: 25%;
        border-bottom: 0.31vw solid #C9C9C9;
        text-align: left;
    }
    #table td:nth-of-type(5) {
        width: 37.5%;
        border-bottom: 0.31vw solid #C9C9C9;
        text-align: right;
    }
    #table td:nth-of-type(6) {
        width: 12.5%;
        border-bottom: 0.31vw solid #C9C9C9;
    }
}

#table th:nth-of-type(1) {
    width: 2.3%;
}
#table th:nth-of-type(2) {
    width: 7%;
    border-bottom: 3px solid #74BBB5;
}
#table th:nth-of-type(3) {
    width: auto;
    border-bottom: 3px solid #74BBB5;
    text-align: left;
}
#table th:nth-of-type(4) {
    width: 25%;
    border-bottom: 3px solid #74BBB5;
    text-align: left;
}
#table th:nth-of-type(5) {
    width: 37.5%;
    border-bottom: 3px solid #74BBB5;
    text-align: right;
    padding-right: 10%;
}
#table th:nth-of-type(6) {
    width: 12.5%;
    border-bottom: 3px solid #74BBB5;
}
#table th:nth-of-type(7) {
    width: 2.3%;
}

#table td:nth-of-type(1) {
    width: 2.3%;
}
#table td:nth-of-type(2) {
    width: 7%;
    border-bottom: 2px solid #C9C9C9;
}
#table td:nth-of-type(3) {
    width: auto;
    border-bottom: 2px solid #C9C9C9;
    text-align: left;
}
#table td:nth-of-type(4) {
    width: 25%;
    border-bottom: 2px solid #C9C9C9;
    text-align: left;
}
#table td:nth-of-type(5) {
    width: 37.5%;
    border-bottom: 2px solid #C9C9C9;
    text-align: right;
}
#table td:nth-of-type(6) {
    width: 12.5%;
    border-bottom: 2px solid #C9C9C9;
}
#table td:nth-of-type(7) {
    width: 2.3%;
}

#nextImg {
    margin-top: 12.5%;
    cursor: pointer;
    width: 45.31%;
}

.partyIcon {
    vertical-align: top;
    margin-left: 9.375%;
    width: 15.625%;
}