@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

#title {
    background-color: #74BBB5;
    height: 80px;
    text-align: left;
}

#back {
    vertical-align: middle;
    margin-left: 3.9%;
    margin-top: 3.9%;
    float: left;
    width: 2.97%;
    cursor: pointer;
}

#result {
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: white;
    width: 54.69%;
    margin-top: 3.9%;
    float: right;
}

#table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    margin: 0px;
    table-layout: fixed;

    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.border {
    width: 100%;
}

#table th {
    height: 80px;
    vertical-align: bottom;
    font-weight: inherit;
}

#table td {
    height: 60px;
}

@media screen and (max-width: 640px){
    #title {
        height: 12.5vw;
    }

    #result {
        font-size: 5.47vw;
    }

    #table {
        font-size: 3.91vw;
    }

    #table th {
        height: 12.5vw;
    }

    #table td {
        height: 9.375vw;
    }

    #table th:nth-of-type(2) {
        border-bottom: 0.47vw solid #74BBB5;
    }
    #table th:nth-of-type(3) {
        border-bottom: 0.47vw solid #74BBB5;
        text-align: left;
    }
    #table th:nth-of-type(4) {
        border-bottom: 0.47vw solid #74BBB5;
        text-align: center;
    }
    #table th:nth-of-type(5) {
        border-bottom: 0.47vw solid #74BBB5;
        text-align: center;
    }

    #table td:nth-of-type(2) {
        border-bottom: 0.31vw solid #C9C9C9;
    }
    #table td:nth-of-type(3) {
        border-bottom: 0.31vw solid #C9C9C9;
        text-align: left;
    }
    #table td:nth-of-type(4) {
        border-bottom: 0.31vw solid #C9C9C9;
        text-align: center;
    }
    #table td:nth-of-type(5) {
        border-bottom: 0.31vw solid #C9C9C9;
        text-align: center;
    }
}

#table th:nth-of-type(1) {
    width: 2.3%;
}
#table th:nth-of-type(2) {
    width: 7%;
    border-bottom: 3px solid #74BBB5;
}
#table th:nth-of-type(3) {
    width: 37.5%;
    border-bottom: 3px solid #74BBB5;
    text-align: left;
}
#table th:nth-of-type(4) {
    width: 15.625%;
    border-bottom: 3px solid #74BBB5;
    text-align: center;
}
#table th:nth-of-type(5) {
    width: auto;
    border-bottom: 3px solid #74BBB5;
    text-align: center;
}
#table th:nth-of-type(6) {
    width: 2.3%;
}

#table td:nth-of-type(1) {
    width: 2.3%;
    background-color: white !important;
}
#table td:nth-of-type(2) {
    width: 7%;
    border-bottom: 2px solid #C9C9C9;
}
#table td:nth-of-type(3) {
    width: 37.5%;
    border-bottom: 2px solid #C9C9C9;
    text-align: left;
}
#table td:nth-of-type(4) {
    width: 15.625%;
    border-bottom: 2px solid #C9C9C9;
    text-align: center;
}
#table td:nth-of-type(5) {
    width: auto;
    border-bottom: 2px solid #C9C9C9;
    text-align: center;
}

#table td:nth-of-type(6) {
    width: 2.3%;
    background-color: white !important;
}

#icons {
    margin-top: 9.375%;
}

#icon1 {
    width: 9.375%;
}
#icon2 {
    width: 9.375%;
    margin-left: 3.125%;
}
#icon3 {
    width: 9.375%;
    margin-left: 3.125%;
}
#icon4 {
    width: 9.375%;
    margin-left: 3.125%;
}

#buttons {
    margin-top: 11.72%;
}

#btn1 {
    width: 46.875%;
}

#btn2 {
    width: 46.875%;
}