@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

#icon {
    margin-top: 9%;
    width: 17.2%;
}

#title {
    margin-top: 3.6%;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 300;
    font-size: 2.9em;
}

#start {
    max-width: 500px;
    margin-top: 8.3%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 400;
    font-size: 2.8em;
}

#name {
    width: 76%;
    height: 70px;

    margin-left: 25px;

    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 300;
    font-size: 34px;
}

#divparty {
    text-align: left;
    margin-top: 60px;
}

#divbtns {
    margin-top: 25px;
}

.choice {
    cursor: pointer;
}

.main-page img {
    max-width:100%; height:auto;
}