@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

#icon {
    margin-top: 16.4%;
    width: 17.2%;
}

#title {
    margin-top: 6.25%;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 300;
    font-size: 35pt;
}

#start {
    max-width: 500px;
    margin-top: 8.3%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 400;
    font-size: 34pt;
}

#name {
    width: 76%;
    height: 10.94%;

    margin-left: 3.9%;

    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 300;
    font-size: 34pt;
}

@media screen and (max-width: 640px){
    #title {
        font-size: 5.47vw;
    }

    #start {
        font-size: 5.31vw;
    }

    #name {
        font-size: 5.31vw;
    }
}

#divparty {
    text-align: left;
    margin-top: 9.37%;
}

#divbtns {
    margin-top: 3.9%;
}

.choice {
    cursor: pointer;
}

.main-page img {
    max-width:100%; height:auto;
}