@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

#icon {
    margin-top: 8.6%;
    width: 17.2%;
}

#title {
    margin-top: 5.47%;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 300;
    font-size: 35px;
}

#start {
    max-width: 500px;
    margin-top: 10.9375%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 400;
    font-size: 34px;
    width: 78.125%;
}

#name {
    width: 70%;
    height: 10.94%;

    margin-left: 3.9%;

    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: 300;
    font-size: 34px;
    vertical-align: middle;
    padding: 11px;
}

@media screen and (max-width: 640px){
    #title {
        font-size: 5.47vw;
    }

    #start {
        font-size: 5.31vw;
    }

    #name {
        font-size: 5.31vw;
        padding: 1.72vw;
    }
}

#divparty {
    text-align: left;
    margin-top: 6.25%;
}

#divbtns {
    margin-top: 3.9%;
}

.choice {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.main-page img {
    max-width:100%; height:auto;
}

#nextBtn {
    margin-top: 7.8125%;
    width: 46.875%;
    cursor: pointer;
}