{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="kr">
    <meta charset="UTF-8">
    <title>총선생존게임</title>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="어니스트-onist" />
    <meta property="og:url" content="http://253game.onience.com/" />
    <meta property="og:description" content="당신이 국회의원에 나간다면 얼마를 쓸까?" />
    <meta property="og:image" content="http://253game.onience.com/static/img/face/thumb.png" />

    <link rel="stylesheet" href="{% static "css/common.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/index.css" %}" type="text/css" />

    <link href='/static/css/font.css' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" type="image/jpg" href="/static/img/logo.jpg"/>
</head>

<body>
<div class="main-container">
    <div class="main-page">
        <img id="title" src="{% static "img/main/main_title.png" %}" />

        <img id="img" src="{% static "img/main/main_img.png" %}" />

        <a href="/start/">
        <img id="btn" src="{% static "img/main/main_btn.png" %}" />
        </a>

        <p id="font1">
            1
        </p>
        <p id="font2">
            1
        </p>
        <p id="font3">
            1
        </p>
    </div>
</div>
</body>
</html>