{% load staticfiles %}

<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Question {{ level }}</title>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static "css/common.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/question.css" %}" type="text/css" />

    <link href='/static/css/font.css' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" type="image/jpg" href="/static/img/logo.jpg"/>

    <script type="text/javascript" src="{% static "js/jquery-3.1.0.min.js" %}" ></script>

    <script type="text/javascript">
        function clickBtn() {
            amount = $('input[name=amount]:checked', '#formChoice').val();

            if (amount === undefined) {
                alert("선택지를 선택해주세요.");
                return;
            }

            $("#formChoice").submit();
        }
    </script>
</head>
<body>
<div class="main-container">
    <div class="main-page">
        <img id="progress" src="/static/img/question/Q_bar{{ level }}.png" />

        <div id="title">
            <img id="qicon" src="/static/img/question/Q_icon.png" />
            {{ question.0 }}
            <br>
            {{ question.1 }}
            <div id="comment">
                {% if question.3 != '' %}
                    {{ question.2 }}
                    <br>
                    {{ question.3 }}
                {% elif question.2 != '' %}
                    {{ question.2 }}
                {% endif %}
            </div>
        </div>

        <div id="divForm">
            <form id="formChoice" method="post">
                {% csrf_token %}

                <div id="clist">
                    <label class="choice">
                        <input type="radio" name="amount" value="{{ question.4 }}" />
                        <i></i> {{ question.5 }}
                    </label>

                    <hr class="border" />

                    <label class="choice">
                        <input type="radio" name="amount" value="{{ question.6 }}" />
                        <i></i> {{ question.7 }}
                    </label>

                    <hr class="border" />

                    <label class="choice">
                        <input type="radio" name="amount" value="{{ question.8 }}" />
                        <i></i> {{ question.9 }}
                    </label>

                    <hr class="border" />

                    <label class="choice">
                        <input type="radio" name="amount" value="{{ question.10 }}" />
                        <i></i> {{ question.11 }}
                    </label>

                    <hr class="border" />

                    <label class="choice">
                        <input type="radio" name="amount" value="{{ question.12 }}" />
                        <i></i> {{ question.13 }}
                    </label>
                </div>

                <img id="btn" src="/static/img/question/Q_btn.png" onclick="clickBtn()"/>

                <input name="step" type="hidden" value="{{ level }}" />
                <input name="level" type="hidden" value="{{ level }}" />
            </form>
        </div>
    </div>
</div>
</body>
</html>