{% load staticfiles %}

<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Question {{ level }}</title>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static "css/common.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/question.css" %}" type="text/css" />

    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{% static "js/jquery-3.1.0.min.js" %}" ></script>

    <script type="text/javascript">
        function clickBtn() {
            amount = $('input[name=amount]:checked', '#formChoice').val();

            if (amount === undefined) {
                alert("선택지를 선택해주세요.");
                return;
            }

            $("#formChoice").submit();
        }
    </script>
</head>
<body>
<div class="main-container">
    <div class="main-page">
        <img id="progress" src="/static/img/question/Q_bar{{ level }}.png" />

        <div id="title">
            <img id="qicon" src="/static/img/question/Q_icon.png" />
            {{ question.0 }}
        </div>

        <form id="formChoice" method="post">
            {% csrf_token %}

            <div id="clist">
                <label class="choice">
                    <input type="radio" name="amount" value="{{ question.1 }}" />
                    <i></i> {{ question.2 }}
                </label>

                <hr class="border" />

                <label class="choice">
                    <input type="radio" name="amount" value="{{ question.3 }}" />
                    <i></i> {{ question.4 }}
                </label>

                <hr class="border" />

                <label class="choice">
                    <input type="radio" name="amount" value="{{ question.5 }}" />
                    <i></i> {{ question.6 }}
                </label>

                <hr class="border" />

                <label class="choice">
                    <input type="radio" name="amount" value="{{ question.7 }}" />
                    <i></i> {{ question.8 }}
                </label>

                <hr class="border" />

                <label class="choice">
                    <input type="radio" name="amount" value="{{ question.9 }}" />
                    <i></i> {{ question.10 }}
                </label>
            </div>

            <img id="btn" src="/static/img/question/Q_btn.png" onclick="clickBtn()"/>

            <input name="step" type="hidden" value="{{ level }}" />
            <input name="level" type="hidden" value="{{ level }}" />
        </form>
    </div>
</div>
</body>
</html>