{% load staticfiles %}

<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Ranking</title>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static "css/common.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/ranking.css" %}" type="text/css" />

    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="main-container">
    <div class="main-page">
        <div id="title">
            <img id="back" src="/static/img/rank_page/icon_back.png" />
            <div id="result">결과</div>
        </div>

        <img id="rank1" src="/static/img/rank_page/rank1_on.png" />
        <img id="rank2" src="/static/img/rank_page/rank2_dim.png" />

        <div id="candidate">
            <table id="table">
                <thead>
                    <tr id="head">
                        <td>순위</td>
                        <td>이름</td>
                        <td>금액</td>
                    </tr>

                    <img class="border" src="/static/img/question/boder.png" />
                </thead>

                <tbody>
                {% for row in candidate %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="party">
            <table>
                <thead>
                <tr>
                    <th>순위</th>
                    <th>이름</th>
                    <th>금액</th>
                </tr>
                </thead>

                <tbody>
                {% for row in party %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div>
            <a href="javascript:history.back()">
                돌아가기
            </a>
        </div>

        <div>
            <form method="post">
                {% csrf_token %}
                <input name="step" type="hidden" value="{{ level }}" />

                <input name="level" type="hidden" value="{{ level }}" />

                <button type="submit" value="submit">다음질문</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>