{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>시작</title>

    <link rel="stylesheet" href="{% static "css/common.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/start.css" %}" type="text/css" />

    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{% static "js/jquery-3.1.0.min.js" %}" ></script>
    <script type="text/javascript">
        function clickParty(party) {
            if ($("#name").val() == '') {
                alert("이름을 입력해주세요.");
                return;
            }

            $("#party").val(party);

            $("#start").submit();
        }
    </script>
</head>

<body>
<div class="main-container">
    <div class="main-page">
        <img id="icon" src="{% static "img/start/p2_icon.png" %}" />

        <div id="title">
            설문자 정보 입력
        </div>

        <form id="start" method="post">
            {% csrf_token %}
            <input name="step" type="hidden" value="0" />
            <input id="party" name="party" type="hidden"/>

            이름 <input id="name" name="name" type="text" placeholder=""/>

            <br>

            <div id="divparty">
                정당 선택
                <div id="divbtns">
                    <img class="choice" src="{% static "img/start/p2_btn1.png" %}" onclick="clickParty(1)"/>
                    <br>
                    <img class="choice" src="{% static "img/start/p2_btn2.png" %}" onclick="clickParty(2)"/>
                    <br>
                    <img class="choice" src="{% static "img/start/p2_btn3.png" %}" onclick="clickParty(3)"/>
                    <br>
                    <img class="choice" src="{% static "img/start/p2_btn4.png" %}" onclick="clickParty(4)"/>
                    <br>
                    <img class="choice" src="{% static "img/start/p2_btn5.png" %}" onclick="clickParty(5)"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>