{% load staticfiles %}

<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>시작</title>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{% static "css/common.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/start.css" %}" type="text/css" />

    <link href='/static/css/font.css' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" type="image/jpg" href="/static/img/logo.jpg"/>

    <script type="text/javascript" src="{% static "js/jquery-3.1.0.min.js" %}" ></script>
    <script type="text/javascript">
        function clickParty(party) {
            elem = $("#party");
            befo = elem.val();
            if (befo == party) {
                for (var i = 1; i <=5; ++i) {
                    $("#choice" + i).attr('src', '/static/img/start/p2_btn' + i + '.png');
                }

                elem.val('');
            } else {
                for (var i = 1; i <=5; ++i) {
                    if (i == party)
                            continue;

                    $("#choice" + i).attr('src', '/static/img/start/p2_btn' + i + '_dim.png');
                }

                $("#choice" + party).attr('src', '/static/img/start/p2_btn' + party + '.png');

                elem.val(party);
            }
        }

        function clickNext() {
            $("#start").submit();
        }

        $(function () {
            $("#start").submit(function (event) {
                if ($("#name").val() == '') {
                    alert("이름을 입력해주세요.");
                    return false;
                }

                if ($("#party").val() == '') {
                    alert("정당을 선택해주세요.");
                    return false;
                }
            });
        });
    </script>
</head>

<body>
<div class="main-container">
    <div class="main-page">
        <img id="icon" src="{% static "img/start/p2_icon.png" %}" />

        <div id="title">
            설문자 정보 입력
        </div>

        <form id="start" method="post">
            {% csrf_token %}
            <input name="step" type="hidden" value="0" />
            <input id="party" name="party" type="hidden"/>

            <label for="name">이름</label>
            <input id="name" name="name" type="text" placeholder=""/>

            <br>

            <div id="divparty">
                정당 선택
                <div id="divbtns">
                    <img id="choice1" class="choice" src="{% static "img/start/p2_btn1.png" %}" onclick="clickParty(1)"/>
                    <img src="/static/img/start/p2_btn1_dim.png" style="display: none"/>
                    <br>
                    <img id="choice2" class="choice" src="{% static "img/start/p2_btn2.png" %}" onclick="clickParty(2)"/>
                    <img src="/static/img/start/p2_btn2_dim.png" style="display: none"/>
                    <br>
                    <img id="choice3" class="choice" src="{% static "img/start/p2_btn3.png" %}" onclick="clickParty(3)"/>
                    <img src="/static/img/start/p2_btn3_dim.png" style="display: none"/>
                    <br>
                    <img id="choice4" class="choice" src="{% static "img/start/p2_btn4.png" %}" onclick="clickParty(4)"/>
                    <img src="/static/img/start/p2_btn4_dim.png" style="display: none"/>
                    <br>
                    <img id="choice5" class="choice" src="{% static "img/start/p2_btn5.png" %}" onclick="clickParty(5)"/>
                    <img src="/static/img/start/p2_btn5_dim.png" style="display: none"/>
                </div>
            </div>

            <img id="nextBtn" src="/static/img/start/next_btn.png" onclick="clickNext()">
        </form>
    </div>
</div>
</body>
</html>