{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>시작</title>

    <link rel="stylesheet" href="{% static "css/common.css" %}" type="text/css" />
</head>

<body>
<div class="main-container">
    <div class="main-page">
        <a href="/" class="main-page__logo">
            <img src="{% static "img/index/title.png" %}" />
        </a>

        <form method="get">
            <input id="name" type="text" placeholder="이름"/>
            <input id="party" type="text" placeholder="정당"/>

            <button>시작하기</button>
        </form>
    </div>
</div>
</body>
</html>